Repository AguaClara/aguaclara, pull requests merged in 2019-07, with the labels that each got.

#175 Sedimentation tank design code
  aguaclara/core/physchem.py
  aguaclara/core/pipeline.py
  aguaclara/core/pipes.py
  aguaclara/design/cdc.py
  aguaclara/design/component.py
  aguaclara/design/ent.py
  aguaclara/design/ent_floc.py
  aguaclara/design/filter.py
  aguaclara/design/floc.py
  aguaclara/design/lfom.py
  aguaclara/design/plant.py
  aguaclara/design/sed.py
  aguaclara/design/sed_chan.py
  aguaclara/design/sed_tank.py
  docs/source/design/component.rst
  docs/source/design/design.rst
  docs/source/design/ent.rst
  docs/source/design/ent_floc.rst
  docs/source/design/floc.rst
  docs/source/design/lfom.rst
  docs/source/design/sed.rst
  docs/source/design/sed_chan.rst
  docs/source/design/sed_tank.rst
  tests/core/test_physchem.py
  tests/design/test_ent.py
  tests/design/test_ent_floc.py
  tests/design/test_lfom.py
  tests/design/test_sed.py
  tests/design/test_sed_chan.py
  tests/design/test_sed_tank.py
Labels: aide_design, feature

#186 max and min functions for NumPy arrays and Pint quantities
  LICENSE
  Pipfile
  Pipfile.lock
  aguaclara/core/utility.py
  aguaclara/design/ent.py
  docs/source/conf.py
  docs/source/core/utility.rst
  docs/source/images/favicon.ico
  docs/source/index.rst
  meta.yaml
  tests/core/test_utility.py
  tests/design/test_ent_floc.py
Labels: aide_design, feature, medium

#219 New import structure
  aguaclara/__init__.py
  aguaclara/core/constants.py
  aguaclara/core/drills.py
  aguaclara/core/head_loss.py
  aguaclara/core/materials.py
  aguaclara/core/physchem.py
  aguaclara/core/pipeline.py
  aguaclara/core/pipes.py
  aguaclara/core/units.py
  aguaclara/core/utility.py
  aguaclara/design/cdc.py
  aguaclara/design/component.py
  aguaclara/design/ent.py
  aguaclara/design/filter.py
  aguaclara/design/floc.py
  aguaclara/design/human_access.py
  aguaclara/design/lfom.py
  aguaclara/design/plant.py
  aguaclara/design/sed.py
  aguaclara/design/sed_chan.py
  aguaclara/design/sed_tank.py
  aguaclara/play.py
  aguaclara/research/environmental_processes_analysis.py
  aguaclara/research/floc_model.py
  aguaclara/research/peristaltic_pump.py
  aguaclara/research/procoda_parser.py
  aguaclara/research/stock_qc.py
  tests/core/test_head_loss.py
  tests/core/test_physchem.py
  tests/core/test_pipedatabase.py
  tests/core/test_pipeline.py
  tests/core/test_pipes.py
  tests/design/test_ent.py
  tests/design/test_ent_floc.py
  tests/design/test_floc.py
  tests/design/test_lfom.py
  tests/design/test_sed.py
  tests/design/test_sed_chan.py
  tests/design/test_sed_tank.py
  tests/research/test_floc_model.py
  tests/research/test_peristaltic_pump.py
  tests/research/test_stock_qc.py
Labels: feature, medium, package

#221 Add donation links
  .github/FUNDING.yml
Labels: feature, low, package
